<!-- Footer -->
    <div class="footer-container">
     <br>
     <br>
      <footer class="page-footer font-small">
                 <div class="container">
              <div class="row text-center">
                  <div class="col-lg">
                      <a href="https://www.univ-tours.fr/" target="_blank"><img
                                  src="https://www.cci.univ-tours.fr/images/frontoffice/univ.png"
                                  alt="Master CCI" width="80"></a>
                      <a href="https://sciences.univ-tours.fr/" target="_blank"><img
                                  src="https://www.cci.univ-tours.fr/images/frontoffice/ufr.png" alt="Master CCI" width="80"></a>
                  </div>
                  <div class="col-lg">
                      <p class="zone_centre">Copyright © 2019-2020. <a href="mentions-legales">Mentions légales</a></p>
                  </div>
                  <div id="reseaux" class="col-lg">
                      <a href="https://www.facebook.com/Master-2-CCI-Tours-Comp%C3%A9tence-Compl%C3%A9mentaire-en-Informatique-1948671108542437/"
                         target="_blank"><img src="https://www.cci.univ-tours.fr/images/frontoffice/facebook.svg" alt="Facebook" width="33"></a>
                      <a href="https://www.linkedin.com/groups/8517340/" target="_blank"><img
                                  src="https://www.cci.univ-tours.fr/images/frontoffice/linkedin.svg" alt="Linkedin" hspace="20"
                                  width="33"></a>
                  </div>
              </div>
          </div>
        </footer>
       
     </div>
