<div class="toolbar-nav-buttons">
  <div class="carousel-container">
  <mdb-carousel [animation]="'slide'">
    <mdb-carousel-item *ngFor="let slide of slides; let i = index">
      <div class="carousel-image-container">
        <img class="d-block w-100 carousel-image" src={{slide}} alt="Slide image">
            <div class="slide-content-box">
              <h3 class="slide-text" *ngIf="i === 0"></h3>
              <h3 class="slide-text" *ngIf="i === 1"></h3>
              <h3 class="slide-text" *ngIf="i === 2"></h3>
              <h3 class="slide-text" *ngIf="i === 3"></h3>
              <h3 class="slide-text" *ngIf="i === 4"></h3>
              <div class="slide-button" *ngIf="i === 4" routerLink="/contact"><h3 style="font-weight:bold;">Contact us</h3></div>
            </div>
      </div>
    </mdb-carousel-item>

  </mdb-carousel>
  </div>



  <mat-card class="main-container overlap-up home-card mat-elevation-z0">
    <mat-card-content>
      <div class="card-top-text-container">
        <h1 style="margin-left: 0px;">MASTER CCI TOURS</h1>
       

        <p>
          <a href="https://www.cci.univ-tours.fr/">Site officiel du Master CCI</a>
        </p>
        <div style="width: 75%; margin: 0 auto;">
          <mat-divider style="margin-top: 50px;" [inset]="true"></mat-divider>
        </div>
      </div>

      <mat-accordion class="home-accordion">
        <mat-expansion-panel class="home-accordion-panel mat-elevation-z0" [expanded]="false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 style="margin-left: 0;">
                ENTREPRISES AYANT ACCUEILLI NOS ÉTUDIANTS EN STAGE
              </h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
          
            <h3>
              <a href="https://www.cci.univ-tours.fr/entreprises"> Lien vers le site officiel du Master CCI </a>
            </h3>
           
          </div>

            <div> 

            </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="home-accordion-panel mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 style="margin-left: 0;">
                SITUATION PROFESSIONNELLE DES ANCIENS DU MASTER
              </h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3>
            <a href="https://www.cci.univ-tours.fr/entreprises"> Lien vers le site officiel du Master CCI </a>
          </h3>

        

        </mat-expansion-panel>

        <mat-expansion-panel class="home-accordion-panel mat-elevation-z0">
          <mat-expansion-panel-header>





            <mat-panel-title>
              <h3 style="margin-left: 0;">
                PROJETS DES ÉTUDIANTS
              </h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <h3>
            <a href="https://www.cci.univ-tours.fr/projets-des-etudiants"> Lien vers le site officiel du Master CCI </a>
          </h3>

        </mat-expansion-panel>

        <mat-expansion-panel class="home-accordion-panel mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 style="margin-left: 0;">
                DEVENIR PARTENAIRE DU MASTER CCI 
              </h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <h3>
            <a href="https://www.cci.univ-tours.fr/entreprises"> Lien vers le site officiel du Master CCI </a>
          </h3>

        </mat-expansion-panel>

      </mat-accordion>


    </mat-card-content>
  </mat-card>
</div>
