


<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="form-horizontal" action='' method="POST">
  <fieldset>
 <hr>
 <hr>
   
    <div class="control-group">
      <!-- Username -->
      <div class="form-row justify-content-center">
        <div class="input-group-append">
        <span class="input-group-text"><i class="fa fas fa-user"></i></span>
      <input type="text" id="" class="form-control"name="nom_utilisateur" placeholder="Nom*" style="width: 300px;height: 30px;" value="">
  </div>
</div>
<br>
 <!-- Last name -->
 <div class="form-row justify-content-center">
  <div class="input-group-append">
    <span class="input-group-text"><i class="fa fas fa-user"></i></span>
  <input type="text" id="" class="form-control" name="pn_utilisateur"placeholder="Prénom*"style="width: 300px;height: 30px;" value="">
</div>
</div>
<br>
 <!-- E-mail 1 -->
 <div class="form-row justify-content-center">
  <div class="input-group-append">
  <span class="input-group-text"><i class="fa fas fa-envelope"></i></span>
  <input type="email" id="" class="form-control" name="mail" placeholder="E-mail*"style="width: 300px;height: 30px;" value="">
 </div>
</div>
<br>

<!-- Password -->
<div class="form-row justify-content-center">
  <div class="input-group-append">
  <span class="input-group-text"><i class="fa fas fa-key"></i></span>
  <input type="password" id="" class="form-control" name="mot_de_passe" placeholder="Mot de passe*"style="width: 300px;height: 30px;"  value="">
  </div>
</div>
<br>
<!-- Password2 -->
<div class="form-row justify-content-center">
  <div class="input-group-append">
  <span class="input-group-text"><i class="fa fas fa-key"></i></span>
  <input type="password" id="" class="form-control" name="mdp2" placeholder="Confirmation de mot de passe*"style="width: 300px;height: 30px;"  value="">
  </div>
</div>
<br>
 <!-- Année -->
 <div class="form-row justify-content-center">
  <div class="input-group-append">
 <span class="input-group-text"><i class="fa fas fa-calendar-check"></i></span>
 <input type="number" min="1992" max="2099" class="form-control" name="annee" placeholder="Année d'obtention du diplôme "style="width: 300px;height: 30px;">
</div> 
 </div>
 <br>

 <!-- Situation actuelle -->


 <div class="form-row justify-content-center">
  <span class="input-group-text"><i class="fa fas fa-check"></i></span>
 <SELECT name="nom" style="width: 300px;height: 30px;">
  <OPTION>En recherche active
  <OPTION selected>Salarié(e)
  <OPTION>Indépendant(e)
  </SELECT>
</div>
<br>
<!-- Poste -->
<div class="form-row justify-content-center">
<div class="input-group-append">
<span class="input-group-text"><i class="fa fas fa-suitcase"></i></span>
<input type="text" class="form-control" name="annee" placeholder="Poste "style="width: 300px;height: 30px;">
</div> 
</div>
<br>
<!-- Entreprise -->
<div class="form-row justify-content-center">
<div class="input-group-append">
<span class="input-group-text"><i class="far fa-building"></i></span>
<input type="text" class="form-control" name="annee" placeholder="Nom de l'entreprise "style="width: 300px;height: 30px;">
</div> 
</div>
<br>


  <!-- Souvenir de moi-->
  <div class="form-row justify-content-center">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Se souvenir de moi</label>
</div>
</div>
<!-- Sign up button -->
<div class="form-row justify-content-center">

  <button class="btn btn-light my-4 btn-block" type="submit" name="submit" style=" color: #01ab99 ;font-weight: bold; width:300px;">Inscription</button>
</div>
</div>
<p style="color:grey; font-size:12pt;float:left;text-align: justify;">
  *Champs obligatoires.
  <br>
 </fieldset>
  
</form>

