@import "../../styles.scss";

.custom-h4 {
  //color: mat-color($corporate-app-accent, darker);
  font-family: sans-serif, Helvetica, Arial;
  font-weight: lighter;
  margin-left: 2%;
  font-style: italic;
  //font-size: 150%;
}
